{% extends "base.html" %} {% block content %}

    <div class="container"><br/>

    </div>

    <div class="container">
        <h1>Lesson 3: Myth</h1>
        <p>Nearly all cultures have a story that has been passed down through generations. These stories drive their culture, as well as share a very important aspect of their history. In this challenge students will develop a monomyth while developing the thinking skills of recognizing and forming patterns.</p>
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
                                    <div class="video-container">

<iframe width="560" height="315" src="https://www.youtube.com/embed/MBjjxSx45-Q" frameborder="0" allowfullscreen></iframe>
	</div>
            </div>
            <div class="card-action">
              <a href="https://youtu.be/MBjjxSx45-Q"><i class="fa fa-youtube-play"></i> Youtube</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
                                    <div class="video-container">

<iframe src="https://docs.google.com/presentation/d/1Bs77p1AuJmIVTah_3VAUbobghXfMbEVLTb1hiSs9v0k/embed?start=true&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
	</div>
            </div>
            <div class="card-action">
              <a href="https://docs.google.com/presentation/d/1Bs77p1AuJmIVTah_3VAUbobghXfMbEVLTb1hiSs9v0k/edit?usp=sharing"><i class="fa fa-table"></i> Slides</a>
            </div>
          </div>
        </div>
      </div>
            
      <div class="row">
              <div class="col s12">
          <div class="card">
      <div class="video-container"><iframe src="https://docs.google.com/document/d/14u4HrJ7xH2tJpBYjmfeagDYYB2GPoby5XhvLuV2K7us/pub?embedded=true"></iframe></div>
                        <div class="card-action">
            <a href="https://docs.google.com/document/d/14u4HrJ7xH2tJpBYjmfeagDYYB2GPoby5XhvLuV2K7us/edit?usp=sharing"><i class="fa fa-file-text-o"></i> Docs</a>
            </div>
      </div>
      </div>
    <ul class="pagination">
    <li><a href="/act2"><i class="fa fa-chevron-left"></i></a></li>
    <li class="waves-effect"><a href="/act1">1</a></li>
    <li class="waves-effect"><a href="/act2">2</a></li>
    <li class="active amber"><a href="/act3">3</a></li>
    <li class="waves-effect"><a href="/act4">4</a></li>
    <li class="waves-effect"><a href="/act5">5</a></li>
    <li class="waves-effect"><a href="/act6">6</a></li>
    <li class="waves-effect"><a href="/act7">7</a></li>
    <li class="waves-effect"><a href="/act8">8</a></li>

    <li class="waves-effect"><a href="/act4"><i class="fa fa-chevron-right"></i></a></li>
  </ul>
      </div>
    </div>


{% endblock %}

