{% extends "base.html" %} {% block content %}

    <div class="container"><br/>

    </div>

    <div class="container">
    <h1>Lesson 4: Sport</h1>
    <p>Another component to a culture’s social aspect is sports. In this challenge students will design a new sporting event (game) that allows students to play and start to understand how their past experiences of play leads to the act of creating a game. The type of physical game (sport) they create will allow them to use body thinking to engage in the sport and understand the design of how sports work and how others can participate.</p>
      <div class="row">
              <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
                                    <div class="video-container">
<iframe src="https://drive.google.com/file/d/0B6ZuSUL0zxgkSlpCY3ltOHNNLVU/preview" width="640" height="480"></iframe>
                     </div>
            </div>
            <div class="card-action">
              <a href="https://drive.google.com/file/d/0B6ZuSUL0zxgkSlpCY3ltOHNNLVU/view"><i class="fa fa-youtube-play"></i> Video</a>
            </div>
          </div>
        </div>
                      <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
                                    <div class="video-container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/M8ip6TpLdxo" frameborder="0" allowfullscreen></iframe>
                     </div>
            </div>
            <div class="card-action">
              <a href="https://youtu.be/M8ip6TpLdxo"><i class="fa fa-youtube-play"></i> YouTube</a>
            </div>
          </div>
        </div>
        <div class="col s12 m12">
          <div class="card">
            <div class="card-image">
                                    <div class="video-container">

<iframe src="https://docs.google.com/presentation/d/1D-iXoiw4DtxY0TzubA_KUpfNYuck4GDHQJ-t243jVmk/embed?start=true&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>
            </div>
            <div class="card-action">
              <a href="https://docs.google.com/presentation/d/1D-iXoiw4DtxY0TzubA_KUpfNYuck4GDHQJ-t243jVmk/edit?usp=sharing"><i class="fa fa-table"></i> Slides</a>
            </div>
          </div>
        </div>
      </div>
            
      <div class="row">
              <div class="col s12">
          <div class="card">
            <div class="video-container"><iframe src="https://docs.google.com/document/d/1EW1MIKSSVRAJbaAcJLY2jmQLtm85aYJgWBuQyiO7JUc/pub?embedded=true"></iframe></div>
                              <div class="card-action">
            <a href="https://docs.google.com/document/d/1EW1MIKSSVRAJbaAcJLY2jmQLtm85aYJgWBuQyiO7JUc/edit?usp=sharing"><i class="fa fa-file-text-o"></i> Docs</a>
            </div>
            </div>

            </div>

    <ul class="pagination">
    <li><a href="/act3"><i class="fa fa-chevron-left"></i></a></li>
    <li class="waves-effect"><a href="/act1">1</a></li>
    <li class="waves-effect"><a href="/act2">2</a></li>
    <li class="waves-effect"><a href="/act3">3</a></li>
    <li class="active amber"><a href="/act4">4</a></li>
    <li class="waves-effect"><a href="/act5">5</a></li>
    <li class="waves-effect"><a href="/act6">6</a></li>
    <li class="waves-effect"><a href="/act7">7</a></li>
    <li class="waves-effect"><a href="/act8">8</a></li>

    <li class="waves-effect"><a href="/act5"><i class="fa fa-chevron-right"></i></a></li>
  </ul>
      </div>
    </div>


{% endblock %}

