{% extends "base.html" %} {% block content %}

    <div class="container"><br/>

    </div>

    <div class="container">
        <h1>Lesson 5: Food</h1>
        <p>What is another national pastime? Eating. The focus of this lesson is to help work on students’ skills of analogizing. In this instance their goal is to create a concrete object (a dish) that represents many disparate elements of their culture.</p>
      <div class="row">
              <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
                                <div class="video-container">

<iframe src="https://embed-ssl.ted.com/talks/james_geary_metaphorically_speaking.html" width="640" height="360" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
            </div>
            <div class="card-action">
              <a href="https://www.ted.com/talks/james_geary_metaphorically_speaking"><i class="fa fa-youtube-play"></i> TEDTalk</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
                                            <div class="video-container">

<iframe src="https://docs.google.com/presentation/d/1PFY777g8jb7w7tZNncHNAIQlKUJu6BnfgrMLF0BI6cE/embed?start=true&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
            </div>

            <div class="card-action">
              <a href="https://docs.google.com/presentation/d/1PFY777g8jb7w7tZNncHNAIQlKUJu6BnfgrMLF0BI6cE/edit?usp=sharing"><i class="fa fa-table"></i> Slides</a>
            </div>
          </div>
        </div>
      </div>
            
      <div class="row">
              <div class="col s12">
          <div class="card">
            <div class="video-container"><iframe src="https://docs.google.com/document/d/1xKfomxz_xP1s-ohl1N0z3KN5StlNCfm41BT9V0g2Fvc/pub?embedded=true"></iframe></div>
                              <div class="card-action">
            <a href="https://docs.google.com/document/d/1xKfomxz_xP1s-ohl1N0z3KN5StlNCfm41BT9V0g2Fvc/edit?usp=sharing"><i class="fa fa-file-text-o"></i> Docs</a>
            </div>
            </div>
            </div>

    <ul class="pagination">
    <li><a href="/act4"><i class="fa fa-chevron-left"></i></a></li>
    <li class="waves-effect"><a href="/act1">1</a></li>
    <li class="waves-effect"><a href="/act2">2</a></li>
    <li class="waves-effect"><a href="/act3">3</a></li>
    <li class="waves-effect"><a href="/act4">4</a></li>
    <li class="active amber"><a href="/act5">5</a></li>
    <li class="waves-effect"><a href="/act6">6</a></li>
    <li class="waves-effect"><a href="/act7">7</a></li>
    <li class="waves-effect"><a href="/act8">8</a></li>

    <li class="waves-effect"><a href="/act6"><i class="fa fa-chevron-right"></i></a></li>
  </ul>
      </div>
    </div>


{% endblock %}

