{% extends "base.html" %} {% block content %}

    <div class="container"><br/>

    </div>

    <div class="container">
    <h1>Lesson 6: Flag</h1>
    <p>Now that multiple aspects of culture and thinking have been developed, a representation of these ideas come to fruition in the making of a national flag. While practicing abstraction thinking skills students will determine the most important aspects of their culture to be represented in their creation.</p>
      <div class="row">
              <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
                                            <div class="video-container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/_se7UFsDgvI" frameborder="0" allowfullscreen></iframe>
                                            </div>
            </div>
            <div class="card-action">
              <a href="https://youtu.be/_se7UFsDgvI"><i class="fa fa-youtube-play"></i> YouTube</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
                                            <div class="video-container">

<iframe src="https://docs.google.com/presentation/d/14bOD8wI86jZeq-V0KjoowEFA_m83noSoebP9VbqLZgs/embed?start=true&loop=true&delayms=3000" frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
            </div>
            <div class="card-action">
              <a href="https://docs.google.com/presentation/d/14bOD8wI86jZeq-V0KjoowEFA_m83noSoebP9VbqLZgs/edit?usp=sharing"><i class="fa fa-table"></i> Slides</a>
            </div>
          </div>
        </div>
      </div>
            
      <div class="row">
              <div class="col s12">
          <div class="card">
            <div class="video-container"><iframe src="https://docs.google.com/document/d/1uaZh7w2uCIl8caCaGa-8PaYOCq7LAAuKDg7s5MBJzFA/pub?embedded=true"></iframe></div>
            </div>
            </div>

      <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pnv5iKB2hl4" frameborder="0" allowfullscreen></iframe>
      </div>
    <ul class="pagination">
    <li><a href="/act5"><i class="fa fa-chevron-left"></i></a></li>
    <li class="waves-effect"><a href="/act1">1</a></li>
    <li class="waves-effect"><a href="/act2">2</a></li>
    <li class="waves-effect"><a href="/act3">3</a></li>
    <li class="waves-effect"><a href="/act4">4</a></li>
    <li class="waves-effect"><a href="/act5">5</a></li>
    <li class="active amber"><a href="/act6">6</a></li>
    <li class="waves-effect"><a href="/act7">7</a></li>
    <li class="waves-effect"><a href="/act8">8</a></li>
        <li><a href="/act7"><i class="fa fa-chevron-right"></i></a></li>

  </ul>
      </div>

    </div>



{% endblock %}

