{% extends "base.html" %} {% block content %}

    <div class="container"><br/>

    </div>

    <div class="container">
        <h1>Lesson 7: Daily Life</h1>
        <p>With multiple components of culture now developed for the new nation, it’s time to see what a day in the life of an individual may looks like. Students will be culminating the variety of transferable skills they have used up to this point in the creation nation process. While relating their own experiences they will be transforming and synthesizing their ideas of how a day might take shape for an individual in their created community.</p>
      <div class="row">
              <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
                                    <div class="video-container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/7dEGoJdb6O0" frameborder="0" allowfullscreen></iframe>
</div>
            </div>  
            <div class="card-action">
              <a href="https://youtu.be/7dEGoJdb6O0"><i class="fa fa-youtube-play"></i> YouTube</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
                                    <div class="video-container">
<iframe src="https://docs.google.com/presentation/d/16Bs2qwN8FqDho1SXcBxjHhCfoPd2JXbLk8BSbdWKtUs/embed?start=true&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>
            </div>
            <div class="card-action">
              <a href="https://docs.google.com/presentation/d/16Bs2qwN8FqDho1SXcBxjHhCfoPd2JXbLk8BSbdWKtUs/edit?usp=sharing"><i class="fa fa-table"></i> Slides</a>
            </div>
          </div>
        </div>
      </div>
            
      <div class="row">
              <div class="col s12">
          <div class="card">
            <div class="video-container"><iframe src="https://docs.google.com/document/d/11P_yowofHod5JDe49lXMfe2pm9nOIjHkvaxLDQry4Rw/pub?embedded=true"></iframe></div>
                  <div class="card-action">
            <a href="https://docs.google.com/document/d/11P_yowofHod5JDe49lXMfe2pm9nOIjHkvaxLDQry4Rw/edit?usp=sharing"><i class="fa fa-file-text-o"></i> Docs</a>
            </div>
</div>
</div>
    <ul class="pagination">
    <li><a href="/act6"><i class="fa fa-chevron-left"></i></a></li>
    <li class="waves-effect"><a href="/act1">1</a></li>
    <li class="waves-effect"><a href="/act2">2</a></li>
    <li class="waves-effect"><a href="/act3">3</a></li>
    <li class="waves-effect"><a href="/act4">4</a></li>
    <li class="waves-effect"><a href="/act5">5</a></li>
    <li class="waves-effect"><a href="/act6">6</a></li>
    <li class="active amber"><a href="/act7">7</a></li>
    <li class="waves-effect"><a href="/act8">8</a></li>

    <li class="waves-effect"><a href="/act8"><i class="fa fa-chevron-right"></i></a></li>
  </ul>
      </div>
    </div>


{% endblock %}

