{% extends "base.html" %} {% block content %}

    <div class="container"><br/>

    </div>

    <div class="container">
        <h1>Lesson 8: Celebration</h1>
        <p>Celebration of learning and opportunity for students to reflect on the process of creating a nation and consider application of creative thinking skills.</p>
      <div class="row">
      <!--
              <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="img/act8-1.png">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        -->
        <div class="col s12">
          <div class="card">
            <div class="card-image">
                                                <div class="video-container">
<iframe src="https://docs.google.com/presentation/d/1apayY5QBsA_d1IPqREkmuCsAa6obamIOOBoC9hEHHCg/embed?start=true&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>
            </div>
            <div class="card-action">
              <a href="https://docs.google.com/presentation/d/1apayY5QBsA_d1IPqREkmuCsAa6obamIOOBoC9hEHHCg/edit?usp=sharing"><i class="fa fa-table"></i> Slides</a>
            </div>
          </div>
        </div>
      </div>
            
      <div class="row">
              <div class="col s12">
          <div class="card">
            <div class="video-container"><iframe src="https://docs.google.com/document/d/1dpWqgNQzOFUaO_L339lSHm2B_hcA0txEq7xlv49wPuA/pub?embedded=true"></iframe></div>
                              <div class="card-action">
            <a href="https://docs.google.com/document/d/1dpWqgNQzOFUaO_L339lSHm2B_hcA0txEq7xlv49wPuA/edit?usp=sharing"><i class="fa fa-file-text-o"></i> Docs</a>
            </div>
</div>
</div>
    <ul class="pagination">
    <li><a href="/act7"><i class="fa fa-chevron-left"></i></a></li>
    <li class="waves-effect"><a href="/act1">1</a></li>
    <li class="waves-effect"><a href="/act2">2</a></li>
    <li class="waves-effect"><a href="/act3">3</a></li>
    <li class="waves-effect"><a href="/act4">4</a></li>
    <li class="waves-effect"><a href="/act5">5</a></li>
    <li class="waves-effect"><a href="/act6">6</a></li>
    <li class="waves-effect"><a href="/act7">7</a></li>
    <li class="active amber"><a href="/act8">8</a></li>

  </ul>
      </div>
    </div>


{% endblock %}

