{% extends "base.html" %} {% block content %}

    <div class="container"><br/>

    </div>

    <div class="container">
      <div class="row">
  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header blue lighten-5 amber-text text-accent-4 active">Motto</div>
      <div class="collapsible-body white"><p>Students will learn to observe closely and then to empathize with peers so that they can decide what values are important to their new nation.</p><p><a href="/act1" class="waves-effect amber accent-4 white-text waves-light btn"><i class="fa fa-pencil"></i> Lesson 1</a></p></div>
    </li>
    <li>
      <div class="collapsible-header blue lighten-5 amber-text text-accent-4">Capitol City</div>
      <div class="collapsible-body white"><p>After developing core values, students will build upon these values to create a 2D map and 3D model of their ‘nation’ to practice the skills of dimensional thinking and modeling. The idea of the nation will begin to take on a physical format.</p><p><a href="/act2" class="waves-effect amber accent-4 white-text waves-light btn"><i class="fa fa-pencil"></i> Lesson 2</a></p></div>
    </li>
    <li>
      <div class="collapsible-header blue lighten-5 amber-text text-accent-4">Myth</div>
      <div class="collapsible-body white"><p>Nearly all cultures have a story that has been passed down through generations. These stories drive their culture, as well as share a very important aspect of their history. In this challenge students will develop a monomyth while developing the thinking skills of recognizing and forming patterns</p><p><a href="/act3" class="waves-effect amber accent-4 white-text waves-light btn"><i class="fa fa-pencil"></i> Lesson 3</a></p></div>
    </li>
    <li>
      <div class="collapsible-header blue lighten-5 amber-text text-accent-4">Sport</div>
      <div class="collapsible-body white"><p>Another component to a culture’s social aspect is sports. In this challenge students will design a new sporting event (game) that allows students to play and start to understand how their past experiences of play leads to the act of creating a game. The type of physical game (sport) they create will allow them to use body thinking to engage in the sport and understand the design of how sports work and how others can participate.</p><p><a href="/act4" class="waves-effect amber accent-4 white-text waves-light btn"><i class="fa fa-pencil"></i> Lesson 4</a></p></div>
    </li>
    <li>
      <div class="collapsible-header blue lighten-5 amber-text text-accent-4">Food</div>
      <div class="collapsible-body white"><p>What is another national pastime? Eating. The focus of this lesson is to help work on students’ skills of analogizing. In this instance their goal is to create a concrete object (a dish) that represents many disparate elements of their culture.</p><p><a href="/act5" class="waves-effect amber accent-4 white-text waves-light btn"><i class="fa fa-pencil"></i> Lesson 5</a></p></div>
    </li>
    <li>
      <div class="collapsible-header blue lighten-5 amber-text text-accent-4">Flag</div>
      <div class="collapsible-body white"><p>Now that multiple aspects of culture and thinking have been developed, a representation of these ideas come to fruition in the making of a national flag. While practicing abstraction thinking skills students will determine the most important aspects of their culture to be represented in their creation.</p><p><a href="/act6" class="waves-effect amber accent-4 white-text waves-light btn"><i class="fa fa-pencil"></i> Lesson 6</a></p></div>
    </li>
    <li>
      <div class="collapsible-header blue lighten-5 amber-text text-accent-4">Daily Life</div>
      <div class="collapsible-body white"><p>With multiple components of culture now developed for the new nation, it’s time to see what a day in the life of an individual may looks like. Students will be culminating the variety of transferable skills they have used up to this point in the creation nation process. While relating their own experiences they will be transforming and synthesizing their ideas of how a day might take shape for an individual in their created community.</p><p><a href="/act7" class="waves-effect amber accent-4 white-text waves-light btn"><i class="fa fa-pencil"></i> Lesson 7</a></p></div>
    </li>
    <li>
      <div class="collapsible-header blue lighten-5 amber-text text-accent-4">Celebration</div>
      <div class="collapsible-body white"><p>Celebration of learning and opportunity for students to reflect on the process of creating a nation and consider application of creative thinking skills.</p><p><a href="/act8" class="waves-effect amber accent-4 white-text waves-light btn"><i class="fa fa-pencil"></i> Lesson 8</a></p></div>
    </li>

  </ul>


      </div>
    </div>


{% endblock %}

