<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Creative-NATION{{title}}</title>
 
 <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16" />

  <!-- CSS  -->
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" />
  <link href="static/css/style.css" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <style>
body {
    background-color: #ECEFF1;

}
  .parallax-container {
      height: 200px;
    }
a {color: #FFAB00}
a:hover {color: #FFAB00}

      .card .card-action a:hover {
        color: #FFAB00; }

    .card .card-action a {
      color: #FFAB00;}

  </style>
  <style type="text/css">
span.codedirection { unicode-bidi:bidi-override; direction: rtl; }
</style>

</head>
<body>
  <nav class="blue" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Creative-NATION</a>

      <ul class="right hide-on-med-and-down">
        <li class="dropdown-button" data-constrainwidth="false" data-beloworigin="true" data-activates="dropdown1">
          <a href="/activities">Activities</a>
        </li>
        <li>
          <a href="/media">Media</a>
        </li>
        <li>
          <a href="/reflection">Reflection</a>
        </li>

      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li>
          <a href="/"><i class="fa fa-home"></i></a>
        </li>
              <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">Activities<i class="mdi-navigation-arrow-drop-down"></i></a>
          <div class="collapsible-body">
            <ul>
  <li><a href="/activities">Overview</a></li>
  <li><a href="/act1">1. Motto</a></li>
  <li><a href="/act2">2. Capitol City</a></li>
  <li><a href="/act3">3. Myth</a></li>
  <li><a href="/act4">4. Sport</a></li>
  <li><a href="/act5">5. Food</a></li>
  <li><a href="/act6">6. Flag</a></li>
  <li><a href="/act7">7. Daily Life</a></li>
  <li><a href="/act8">8. Celebration</a></li>
            </ul>
          </div>
        </li>
      </ul>
        <li>
          <a href="/media">Media</a>
        </li>
        <li >
          <a href="/reflection">Reflection</a>
        </li>

      </ul>
      <ul id="dropdown1" class="dropdown-content">
  <li><a href="/activities" class="amber-text">Overview</a></li>
    <li class="divider"></li>
  <li><a href="/act1" class="amber-text">1. Motto</a></li>
  <li><a href="/act2" class="amber-text">2. Capitol City</a></li>
  <li><a href="/act3" class="amber-text">3. Myth</a></li>
  <li><a href="/act4" class="amber-text">4. Sport</a></li>
  <li><a href="/act5" class="amber-text">5. Food</a></li>
  <li><a href="/act6" class="amber-text">6. Flag</a></li>
  <li><a href="/act7" class="amber-text">7. Daily Life</a></li>
  <li><a href="/act8" class="amber-text">8. Celebration</a></li>
</ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

    </div>

  </nav>
  {% block content %}

  {% endblock %}


    <div class="parallax-container">
      <div class="parallax"><img src="img/parallax2.png"></div>
    </div>

  <footer class="page-footer blue darken-3">
    <div class="container">
      <div class="row">
        <div>
          <div class="col s12">
            <div class="card blue darken-4">
              <div class="card-content">
                <span class="card-title">About Project</span>
                <p>This project was created as part of the Masters of Arts in Educational Technology at Michigan State University. Contributors to the project include: Amanda McCarthy, Doug Frankish, Phil Lindert, Barbara Ledford, Marcie Lewis, Ray Stuckey and Mary Mulqueen. Instructors for the course were Mike DeSchryver and Sean Sweeney.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
      </div>
    </div>

  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>
  <script type="text/javascript">    
  $(document).ready(function(){
      $('.parallax').parallax();
    });</script>
  <script type="text/javascript">
    $(".dropdown-button").dropdown({      constrain_width: false});

</script>
  </body>
</html>
